<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.fxdspringmybatis.mapper.UserMapper" >

<select id="userList" resultType="com.example.fxdspringmybatis.bean.User">
select id,name,birth_date birthDate,phone from t_user
</select>





</mapper>
